.Login, .NewAccount, .NewActivity {
    padding: 60px 0;
    margin: auto;
    border: 2px solid black;
    display: block;
    align-items: center;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    /*position: absolute;*/
    justify-content: center;
}

.Login, .NewAccount, .NewActivity form {
    /*margin: 0 auto;*/
    width: 100%;
    max-width: 400px;
    text-align: left;
    /*vertical-align: middle;*/
    /*align-items: center;*/
}

.NewActivity form {
    margin: 0 auto;
    width: 100%;
    max-width: 750px;
    text-align: left;
}

.Login .form-group, .NewAccount .form-group {
    padding: 1%;
    margin: 1% 0;
}

#login-button, #create-acc-btn, .block-button {
    font-family: sans-serif;
    border: 2px solid black;
    padding: 7px 7px;
    display: block;
    flex-direction: row;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    color: black;
    width: 100%;
    background: white;
}

.btn-group {
    font-size: medium;
    display: flex;
    flex-direction: row;
    margin: 3%;
}

.login-link {
    width: 50%;
    padding: 2%;
    text-align: center;
    text-decoration: underline;
}

.horizontal-alignment {
    display: flex;
    flex-direction: row;
}

#email-exists {
    color: red;
}
