.outer-div {
    background: rgb(152,215,194);
    background: linear-gradient(90deg, rgba(152,215,194,1) 0%, rgba(41,160,177,1) 35%, rgba(221,255,231,1) 100%);

    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.Login, .NewAccount, .NewActivity {
    padding: 20px;
    margin: 8% auto 10%;
    border: 2px solid #167d7f;
    border-radius: 5px;
    display: block;
    align-items: center;
    width: 100%;
    /*height: 100%;*/
    justify-content: center;
    font-family: dosis, serif;
    background: white;
}

h1 {
    width: 100%;
    padding: 0 1.5%;
}

.Login, .NewAccount {
    width: 100%;
    max-width: 500px;
    text-align: left;
}

.NewActivity form {
    margin: 0 auto;
    width: 100%;
    max-width: 750px;
    text-align: left;
}

.Login .form-group, .NewAccount .form-group {
    padding: 1%;
    margin: 1% 0;
}

.form-group-half {
    width: 50%;
}

.form-control:focus, input[type="text"]:focus, input[type="number"]:focus, textarea[type="text"]:focus,
.custom-file-upload:focus, input[type="checkbox"]:focus {
    border-color: #98d7c2;
    box-shadow: inset 0 1px 1px rgba(152, 215, 194, 0.075), 0 0 8px rgba(22, 125, 127, 0.6);
}

input[type="checkbox"]:checked {
    background-color: #29a0b1;
}

#login-button, #create-acc-btn, #create-activity-btn {
    font-family: "Helvetica Neue";
    border: 2px solid #29a0b1;
    padding: 7px 7px;
    display: block;
    flex-direction: row;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    color: white;
    width: 100%;
    background: #29a0b1;
}

.btn-group {
    font-size: medium;
    display: flex;
    flex-direction: row;
    margin: 3%;
}

button:hover:not(.dropdown-toggle), .custom-file-upload:hover {
    outline: none;
    box-shadow: none !important;
    transform: scale(1.01);
}

.login-link {
    font-size: large;
    width: 50%;
    padding: 2%;
    text-align: center;
    text-decoration: underline;
    color: #29a0b1;
}

.login-link:hover {
    color: #167d7f;
}

.horizontal-alignment {
    display: flex;
    flex-direction: row;
}

.red-text {
    color: red;
}
