.activity {
    align-items: start;
    width: 100%;
}

.sidebar {
    width: 33%;
}

body {
    max-height: 100%;
}

.activities-sidebar {
    overflow-y: scroll;
    height: 45rem;
}

nav {
    background: rgb(152,215,194);
    background: linear-gradient(90deg, rgba(152,215,194,1) 0%, rgba(41,160,177,1) 35%, rgba(221,255,231,1) 100%);
}

.mp-right {
    width: 67%;
}

.map-div {
    height: 45rem;
}

.leaflet-container {
    height: 45rem;
}

.searchBar-div {
    height: 4rem;
    padding: 1rem;
    background-color: white
}

.searchBar-div input {
    width: 90%;
}

.card {
    text-align: left;
}

.ratingBTN {
    float: right;
}

.newActivity, .Login, .Logout {
    justify-content: right;
}

.under {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.sidebar-titles {
    color: black;
    text-decoration: none;
}



@media (max-width: 500px) {

    .under {
        flex-direction: column;
        width: 100% !important;
    }

    .mp-right {
        order: 1;
        width: 100% !important;
        margin-bottom: 0;
    }

    .sidebar {
        order: 2;
        width: 100% !important;
    }

}

.thumbnail {
    background-color: black;
    width: 125px;
    height: 125px;
    margin-top: auto;
    margin-bottom: auto;
    background-size: cover; /* or contain */
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    margin-right: 2rem;
}

.checked {
    color: #29A0B1;
}

.rating-stars {
    margin-bottom: 0.25rem;
}

.categories span {
    background-color:#29A0B1;
    color: white;
    margin-right: 4px;
}

.categories {
    margin-bottom: 0.25rem;
}

.rsvp {
    float: right;
    background-color: #29A0B1;
    color: white;
}

.weatherbit-api-styling {
    align-self: right;
}

.weatherbit-api-styling img {
    height: 2rem;
    width: 2rem;
}

.sort-by-card > .card {
    height: 4rem;
    align-items: center;
}

.sidebar-dropdown {
    margin: auto;
}